html {
  --Neutral900: hsl(243, 96%, 9%);
  --Neutral800: hsl(243, 27%, 20%);
  --Neutral700: hsl(243, 23%, 24%);
  --Neutral600: hsl(243, 23%, 30%);
  --Neutral300: hsl(240, 6%, 70%);
  --Neutral200: hsl(250, 6%, 84%);
  --Neutral0: hsl(0, 0%, 100%);
  --orange500: hsl(28, 100%, 520%);
  --blue500: hsl(28, 100%, 52%);
  --blue700: hsl(233, 67%, 56%);
  --blue700: hsl(248, 70%, 36%);
  --primary-font: "DM Sans";
  --secondry-font: "Bricolage Grotesque";
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-color: var(--Neutral900);
  font-family: var(--primary-font);
}