#main-content {
  display: flex;
  margin: 1% 18%;
  flex-direction: column;
  position: relative;
}

#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--secondry-font);
  gap: 2rem;
  margin-bottom: 1rem;
}

#search_input {
  padding: 0.6rem 3.5rem; /* keep your padding */
  background-color: var(--Neutral600);
  border-radius: 6px;
  outline: 0cm;
  border: 0;
}

#search_input::placeholder {
  position: relative;
  left: -1.5rem;
  color: var(--Neutral200);
  font-size: 0.8rem;
}

#search-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 0.5rem;
}

#search-container-search-btn {
  display: flex;
  gap: 1rem;
  grid-column: 1/3;
  grid-row: 1/2;
}

#search-container-result {
  grid-column: 1/3;
  grid-row: 2/3;
  border-radius: 8px;
  background-color: var(--Neutral600);
  color: var(--Neutral200);
}

#search-container-result div {
  padding: 0.1rem 0.2rem;
}

#search-container-result div p {
  padding: 0.4rem;
  margin: 0.2rem;
  border-radius: 4px;
}

#search-container-result div p:hover {
  background-color: var(--Neutral800);
}

#search-bar {
  display: flex;
  position: relative;
}

#search-bar-img {
  position: absolute;
  width: 18px;
  top: calc(50% - 10px);
  left: 4%;
}

#search_btn {
  padding: 0 0.6rem;
  border: 0;
  border-radius: 6px;
  background-color: var(--blue700);
}

.wether_info {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 1rem;
}

.error-element {
  display: hidden;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2rem;
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  border: 2px solid;
  padding: 1rem 0.4rem;
  opacity: 0;
  border-radius: 6px;
  transition: opacity 500ms linear;
  z-index: 100;
  background-color: rgba(256, 256, 256, 0.7);
}

.error-element-inside {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  gap: 0.5rem;
  box-shadow: 3px 3px 120px rgba(100, 100, 100, 0.7);
  background-color: rgba(100, 100, 100, 0.7);
}


#close-error-btn img{
  color: rgb(206, 111, 111);
  font-weight: bold;
  transition: all 1s linear;
}

#close-error-btn img:focus{
  color: red;
  cursor: pointer;
   transform: scale(1.1);
}


#close-error-btn img:hover{
  color: red;
  transform: translate(2px, 2px);
  cursor: pointer;
}


.wether_info__current {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.wether_info__daily {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
}

.wether_info__hourly {
  grid-column: 2/3;
  grid-row: 1/3;
}

.wether_info_current_poster_city {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-image: url("./assets/images/bg-today-large.svg");
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  overflow: hidden;
  background-repeat: no-repeat;
  min-height: 190px;
}

.wether_info_current_poster_city_location_date {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.wether_info_current_poster_city_degree_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wether_info_current_poster_city_location_degree_icon_icon {
  width: 100px;
  height: 100px;
}

#deg {
  font-size: 4rem;
}

.wether_info_current_detail {
  display: flex;
  gap: 0.5rem;
}

.wether_info_current_detail > * {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--Neutral600);
  border-radius: 8px;
  padding: 0.8rem;
}
.wether_info_current_detail > * p {
  color: var(--Neutral200);
  font-size: 0.8rem;
}

.wether_info__daily_forecast {
  display: flex;
  gap: 0.4rem;
}

.wether_info__daily_forecast_day {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0.4rem;
  border-radius: 6px;
  font-size: 0.7rem;
  background-color: var(--Neutral600);
  flex-grow: 1;
}

.wether_info__daily_forecast_day > *:first-child {
  text-align: center;
  font-size: 0.8rem;
}

.wether_info__daily_forecast_day > *:last-child {
  justify-self: flex-end;
}

.wether_info__daily_forecast_day_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wether_info__daily_forecast_day_icon img {
  width: 50px;
  height: 50px;
}

.wether_info__daily_forecast_day_minmax {
  display: flex;
  justify-content: space-between;
}

.wether_info__hourly {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 6px;
  background-color: var(--Neutral600);
  font-size: 0.8rem;
}

.wether_info__hourly_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  align-items: center;
}

.wether_info__hourly_detail {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.wether_info__hourly_detail_day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Neutral700);
  padding: 0.3rem 0.4rem;
  border-radius: 6px;
}

.wether_info__hourly_detail_day-condition {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wether_info__hourly_detail_day-condition-icon {
  width: 40px;
  height: 40px;
}

h2 {
  font-size: 0.8rem;
}

#day {
  background-color: var(--Neutral800);
  padding: 0.3rem 0.4rem;
  border-radius: 6px;
  border: 0;
}
