.error-element {
  display: flex;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2rem;
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  border: 2px solid;
  padding: 1rem 0.4rem;
  opacity: 0;
  border-radius: 6px;
  transition: opacity 500ms linear;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
}

.error-element.show {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.error-element.hide {
  opacity: 0;
  width: 0;
  height: 0;
}

.error-element-inside {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  gap: 0.5rem;
  box-shadow: 10px 10px 40px black;
  background-color: rgba(100, 100, 100, 1);
}


#close-error-btn img{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: all 700ms linear;
}

#close-error-btn img:focus{
  color: rgb(252, 224, 224);
  cursor: pointer;
   transform: scale(1.1);
}


#close-error-btn img:hover{
  color: red;
  transform: translate(2px, 4px);
  cursor: pointer;
}