
header {
  display: flex;
  justify-content: space-between;
  margin: 2.5% auto;
  width: 80%;
  height: 5%;
}

#dropdown {
  display: flex;
  position: relative;
}

#system {
  font-size: 1rem;
}

#logo {
  width: 120px;
  display: flex;
  align-items: center;
}

.unit_title {
  font-size: 0.8rem;
  color: var(--Neutral300);
  opacity: 0.8;
  /* margin-bottom: 2%; */
}

#icon-dropdown {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 3%;
  padding: 0.2rem 0.3rem;
  border-radius: 8px;
  background-color: var(--Neutral700);
}

#dropdown-unit {
  display: flex;
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-color: var(--Neutral700);
  min-width: calc(180/16*1rem);
  top: calc(52/16 *1rem);
  left: calc(-180/16 *1rem + 92.48/16 * 1rem);
}

#dropdown-unit > * {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding:5% 0;
  margin-bottom: 2%;
  border-bottom: 3px solid var(--Neutral600);
}


#dropdown-unit > *:not(:last-child) {
  border-bottom: 3px solid var(--Neutral600);
}

.unit div {
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

.selected {
  background-color: var(--Neutral800);
}
