
header {
  display: flex;
  justify-content: space-between;
  margin: 1% auto;
  width: 60%;
  height: 5%;
  padding: 0 2%;
}

#dropdown {
  display: flex;
  position: relative;
}

#system {
  font-size: 1rem;
  transition: transform 300ms linear;
}


#system:hover {
 cursor: pointer;
 transform: scale(1.1);
}

#logo {
  width: 120px;
  display: flex;
  align-items: center;
}

.unit_title {
  font-size: 0.8rem;
  color: var(--Neutral300);
  opacity: 0.8;
  /* margin-bottom: 2%; */
}

#icon-dropdown {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 3%;
  padding: 0.2rem 0.3rem;
  border-radius: 8px;
  background-color: var(--Neutral700);
}

#icon-dropdown:hover {
  cursor: pointer;
}


#dropdown-unit {
  display: flex;
  opacity: 0;
  position: absolute;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-color: var(--Neutral700);
  width: 0;
  height: 0;
  top: calc(52/16 *1rem);
  left: calc(-180/16 *1rem + 92.48/16 * 1rem);
  z-index: 99;
  transition: all 300ms linear;
}


#dropdown-unit.show {
  opacity: 1;
  position: absolute;
  background-color: var(--Neutral700);
  min-width: calc(180/16*1rem);
  height: auto;
  top: calc(52/16 *1rem);
  left: calc(-180/16 *1rem + 92.48/16 * 1rem);
}


#dropdown-unit > * {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding:5% 0;
  margin-bottom: 2%;
  border-bottom: 3px solid var(--Neutral600);
}


#dropdown-unit > *:not(:last-child) {
  border-bottom: 3px solid var(--Neutral600);
}

.unit div {
  display: flex;
  justify-content: space-between;
  padding: 3%;
  transition: transform 300ms linear;
}

.unit div:hover {
 cursor: pointer;
 transform: scale(1.1);
}

.unit img {
  width: 15px;
  height: 15px;
}


.selected {
  background-color: var(--Neutral800);
}
