#main-content {
  display: flex;
  margin: 5% auto;
  width: 80%;
  height: 80%;
  flex-direction: column;
  /* position: relative; */
}

#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
  width: 100%;
  margin: 0 auto;
  font-family: var(--secondry-font);
  justify-content: space-between;
  margin-bottom: calc(5vh);
} 

#search-container {
  display: flex;
  width: 55%;
  height: 35%;
  align-items: center;
  justify-content: space-evenly;
}

#search-container-search-btn {
  width: 80%;
  height: 100%;
  position: relative;
}

#search-bar {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}


#search-container-result {
  position: absolute;
  width: 100%;
  top: 120%;
  background-color: var(--Neutral600);
  border-radius: 6px;

}


#search_input {
  padding-left: 10%; 
  background-color: var(--Neutral600);
  border-radius: 6px;
  outline: 0cm;
  border: 0;
  width: 100%;
  height: 100%;
  display: block;
}


#search_input::placeholder {
  /* position: relative; */
  /* left: -1.5rem; */
  color: var(--Neutral200);
  font-size: 0.8rem;
}

#search-container-result div {
  padding: 0.1rem 0.2rem;
}

#search-container-result div p {
  padding: 0.4rem;
  margin: 0.2rem;
  border-radius: 4px;
  transition: transform 300ms linear;
}

#search-container-result div p:hover {
  background-color: var(--Neutral800);
  cursor: pointer;
  transform: scale(1.05);
}



#search-bar-img {
  position: absolute;
  width: 18px;
  top: calc(50% - 10px);
  left: 4%;
}

#search_btn {
  height: 100%;
  padding: 0 0.6rem;
  border: 0;
  border-radius: 6px;
  background-color: var(--blue700);
}

.wether_info {
  display: grid;
  height: 75%;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 2.2fr 1fr;
  grid-template-rows: 2.5fr 1fr;
  column-gap: 1%;
  row-gap: 1%;
  padding: 1% 2%;
}

.wether_info__current {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}

.wether_info__daily {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
}

.wether_info__hourly {
  grid-column: 2/3;
  grid-row: 1/3;
}

.wether_info_current_poster_city {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-image: url("../../assets/images/bg-today-large.svg");
  background-size: cover;
  background-position: top;
  border-radius: 10px;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 70%;
}

.wether_info_current_poster_city.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.6rem;
  justify-content: center;
  background-image: none;
  background-color: var(--Neutral600);
}

.wether_info_current_poster_city.loading img {
  animation-name: rotateScale;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes rotateScale {
  from {
    transform: rotateZ(0deg) scale(1);
    opacity: 1;
  }
  to {
    transform: rotateZ(360deg) scale(1.2);
    opacity: 0.8;
  }
}

.wether_info_current_poster_city_location_date {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#date {
  color: var(--Neutral200);
  font-size: 0.7rem;
  opacity: 0.9;
}

.wether_info_current_poster_city_degree_icon {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.wether_info_current_poster_city_location_degree_icon_icon {
  width: 50px;
  height: 50px;
}

#deg {
  font-size: 3rem;
}

.wether_info_current_poster_city_degree_icon span {
  font-size: 3rem;
}

.wether_info_current_detail {
  height: 25%;
  width: 100%;
  margin: 2.5% 0;
  display: flex;
  gap: 2%;
}

.wether_info_current_detail > * {
  display: flex;
  height: 100%;
  width: 100%;
  /* flex-grow: 1; */
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--Neutral600);
  border-radius: 8px;
  padding: 0.8rem;
}
.wether_info_current_detail > * p {
  color: var(--Neutral200);
  font-size: 0.8rem;
}

.wether_info__daily_forecast {
  display: flex;
  gap: 1%;
  width: 100%;
  height: 100%;
}

.wether_info__daily_forecast_day {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0.4rem;
  border-radius: 6px;
  font-size: 0.7rem;
  background-color: var(--Neutral600);
  /* flex-grow: 1; */
}

.wether_info__daily_forecast_day > *:first-child {
  text-align: center;
  font-size: 0.8rem;
}

.wether_info__daily_forecast_day > *:last-child {
  justify-self: flex-end;
}

.wether_info__daily_forecast_day_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wether_info__daily_forecast_day_icon img {
  width: 50px;
  height: 50px;
}

.wether_info__daily_forecast_day_minmax {
  display: flex;
  justify-content: space-between;
}

.wether_info__hourly {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 6px;
  background-color: var(--Neutral600);
  font-size: 0.8rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;

}

::-webkit-scrollbar {
    width: 8px;
    /* height: 8px; */
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.2); 
    background-color: var(--Neutral300);
    border-radius: 12px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 12px;
        /* background-color: rgb(197, 206, 214); */

    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);  */
    background-color: var(--Neutral700);

}

.wether_info__hourly_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  align-items: center;
  width: 95%;
  height: 10%;
  margin: 2% auto;
}

.wether_info__hourly_detail {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  height: 86%;
  width: 100%;
  /* scrollbar-width: thin; */
  /* scrollbar-color: var(--Neutral600); */
}

.wether_info__hourly_detail_day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Neutral800);
  padding: 0.5rem 0.4rem;
    width: 95%;
    margin: 0 auto;
    height: auto;
    min-height: 30%;
  border-radius: 6px;
}

.wether_info__hourly_detail_day-condition {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wether_info__hourly_detail_day-condition-icon {
  width: 30px;
  height: 30px;
}

h2 {
  font-size: 0.8rem;
}

#day {
  background-color: var(--Neutral800);
  padding: 0.3rem 0.4rem;
  border-radius: 6px;
  border: 0;
}
