@layer global {
  *,
  ::after,
  ::before {
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
    box-sizing: border-box;
  }


  :root {
    --Neutral900: hsl(243, 96%, 9%);
    --Neutral800: hsl(243, 27%, 20%);
    --Neutral700: hsl(243, 23%, 24%);
    --Neutral600: hsl(243, 23%, 30%);
    --Neutral300: hsl(240, 6%, 70%);
    --Neutral200: hsl(250, 6%, 84%);
    --Neutral0: hsl(0, 0%, 100%);
    --orange500: hsl(28, 100%, 52%);
    --orange700: hsl(28, 100%, 52%);
    --blue500: hsl(233, 67%, 56%);
    --blue700: hsl(248, 70%, 36%);
    --primary-font: "DM Sans";
    --secondry-font: "Bricolage Grotesque";

    --color-main-bg: var(--Neutral900);
    --color-main-text: var(--Neutral0);
    --color-titles-text: var(--Neutral200);
    --color-panel-dark: var(--Neutral800);
    --color-panel-dark-hover: var(--Neutral700);
    --color-panel-medium: var(--Neutral700);
    --color-panel-light: var(--Neutral600);
    --color-border: var(--Neutral300);
    --color-lighter: var(--Neutral200);
    --color-btn-bg: var(--blue500);
    --color-btn-bg-hover: var(--blue700);

    --fs-96: calc(96 / 16 * 1rem);
    --fs-52: calc(52 / 16 * 1rem);
    --fs-32: calc(32 / 16 * 1rem);
    --fs-28: calc(28 / 16 * 1rem);
    --fs-20: calc(20 / 16 * 1rem);
    --fs-18: calc(18 / 16 * 1rem);
    --fs-16: calc(16 / 16 * 1rem);
    --fs-14: calc(14 / 16 * 1rem);

    --font-size-h1: var(--fs-52);

    --font-size-dropdown: var(--fs-14); /* dropdown font size on mobile */
    --font-size-search-btn-daily-title-hour: var(--fs-20);
    --font-size-location-name: var(--fs-28);
    --font-size-date-panel-title: var(--fs-18);
    --font-size-temp: var(--fs-96);
    --font-size-panel-value: var(--fs-32);
    --font-size-daily-temp: var(--fs-32);
    --font-size-hourly-temp: var(--fs-16);

    @media (width >= calc(700/16 * 1rem)) {
      --font-size-dropdown: var(--fs-16);
    }
  }

  img {
    max-width: 100%;
  }

  body {
    background-color: var(--color-main-bg);
    color: var(--color-main-text);
    font-family: var(--primary-font), Arial, Helvetica, sans-serif;
    position: relative;
    font-weight: 500;
  }

  input,
  button {
    font: inherit;
    border: none;
  }

  h1 {
    font-family: var(--secondry-font), Arial, Helvetica, sans-serif;
  }

  h2,
  h3 {
    font: inherit;
    font-family: var(--secondry-font), serif;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr calc(100% - calc(2rem)) 1fr;

    @media (width >= 700px) {
      grid-template-columns:
        1fr min(calc(100% - calc(48 / 16 * 1rem)), calc(1216 / 16 * 1rem))
        1fr;
    }

    > * {
      grid-column: 2;
    }
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    left: -10000px;

    &:focus {
      left: 10px;
      width: auto;
      height: auto;
      border: 1px solid var(--color-border);
      border-radius: 8px;
    }
  }
}

@layer component {
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;

    #logo {
      width: calc(137 / 16 * 1rem);
    }

    @media (width >= calc(700/16 * 1rem)) {
      #logo {
        width: calc(196 / 16 * 1rem);
      }
    }
    #dropdown {
      width: calc(90 / 16 * 1rem);
    }
  }

  .hero-section {
    .hero-content {
      padding-top: 3rem;
      margin-bottom: 2rem;
    }

    .hero-title {
      font-size: var(--font-size-h1);
      margin: 0 auto;
      text-align: center;
      margin-bottom: 3rem;
      line-height: 1.2;
      @media (width <= calc(1000/16 * 1rem)) {
        max-width: 15ch;
      }
    }
    .hero-section-search-container {
      display: grid;
      gap: 12px 16px;
      @media (width >= calc(700/16 * 1rem)) {
        grid-template-columns: 2fr 1fr;
      }
    }
    .hero-section-search-container-searchbar-result {
    }
    .search-bar {
      position: relative;
    }
    .search-bar-img {
      position: absolute;
      top: 16px;
      left: 24px;
    }
    .search_input {
      width: 100%;
      background: var(--color-panel-dark);
      font-size: var(--font-size-search-btn-daily-title-hour);
      padding: 16px 60px 16px 59px;
      border-radius: 12px;
      &:focus {
        outline: 2px solid var(--color-border);
      }
    }
    .search-result {
    }
    .search_btn {
      background-color: var(--color-btn-bg);
      width: 100%;
      font-size: var(--font-size-search-btn-daily-title-hour);
      color: var(--Neutral0);
      padding: 16px;
      transition: background-color 1s linear;
      border-radius: 12px;
      &:hover {
        background-color: var(--color-btn-bg-hover);
        cursor: pointer;
      }
    }
  }

  .wether_info {
    .weather__info__container {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 48px;
      column-gap: 32px;

      @media (width >= calc(1000/16 *1rem)) {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto auto;
      }
    }
    .wether_info__current {
      grid-column: 1;
      grid-row: 1;
      display: grid;
      grid-template-columns: 1fr;
    }
    .wether_info_current_poster_city {
      background-image: url("../assets/images/bg-today-small.svg");
      @media (width >= calc(700/16 * 1rem)) {
        background-image: url("../assets/images/bg-today-large.svg");
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 83px;
      }
      padding: 40px 24px;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: cover;
      border-radius: 20px;
    }
    .wether_info_current_poster_city_location_date {
      display: flex;
      gap: 12px;
      flex-direction: column;
      align-items: center;
      margin-bottom: 16px;
      overflow: hidden;
    }
    .location {
      font-size: var(--font-size-location-name);
      font-weight: 700;
      line-height: 1.2;
    }
    .date {
      font-size: var(--font-size-date-panel-title);
      color: var(--color-lighter);
    }
    .wether_info_current_poster_city_degree_icon {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    .wether_info_current_poster_city_location_degree_icon_icon {
      width: 120px;
    }
    .deg {
      font-size: var(--font-size-temp);
    }

    .wether_info_current_detail {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 20px;
      gap: 16px;

      @media (width >= calc(700/16 * 1rem)) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      & > * {
        width: 100%;
        background-color: var(--color-panel-dark);
        border: 1px solid var(--color-panel-light);
        padding: 20px;
        border-radius: 12px;
      }

      & > * p {
        font-size: var(--font-size-hourly-temp);
        color: var(--color-titles-text);
        margin-bottom: 24px;
      }
      & > * span {
        font-size: var(--font-size-panel-value);
        color: var(--color-main-text);
        font-weight: 300;
      }
    }
    .wether_info__daily {
      grid-row: 2;
      @media (width >= calc(1000/16 * 1rem)) {
        grid-row: 2;
        grid-column: 1;
      }
      .wether_info__daily_title {
        font-size: var(--font-size-search-btn-daily-title-hour);
        margin-bottom: 20px;
      }
      .wether_info__daily_forecast {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(3, 1fr);
        @media (width >= calc(700/16 * 1rem)) {
          grid-template-columns: repeat(7, 1fr);
        }
      }
      .wether_info__daily_forecast_day {
        /* width: 100%; */
        background-color: var(--color-panel-dark);
        border: 1px solid var(--color-panel-light);
        padding: 16px 10px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
      }
      .wether_info__daily_forecast_day_title {
        font-size: var(--font-size-search-btn-daily-title-hour);
        color: var(--color-titles-text);
      }
      .wether_info__daily_forecast_day_icon {
        width: 60px;
        height: auto;
      }
      .wether_info__daily_forecast_day_minmax {
        font-size: var(--font-size-hourly-temp);
        align-self: stretch;
        display: flex;
        justify-content: space-between;
      }
      .min {
      }
      .max {
      }
    }
    .wether_info__hourly {
      grid-row: 3;
      @media (width >= calc(1000/16 * 1rem)) {
        grid-column: 2/3;
        grid-row: 1/3;
      }


      .wether_info__hourly_content {
        display: flex;
        flex-direction: column;
        background-color: var(--color-panel-dark);
        border-radius: 20px;
        padding: 20px 16px;
        @media (height >= calc(600.8/16 * 1rem)) and (width >= calc(1000/16 * 1rem)) {
          max-height: calc(600.8/16 * 1rem);
        overflow: auto;
      }
      }
      .wether_info__hourly_title {
        display: flex;
        justify-content: space-between;
        font-size: var(--font-size-search-btn-daily-title-hour);
        font-weight: 700;
        margin-bottom: 16px;
      }
      .wether_info__hourly_detail {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
        overflow: visible;
      }
      .wether_info__hourly_detail_day {
        background: var(--color-panel-dark-hover);
        border: 1px solid var(--color-panel-light);
        border-radius: 8px;
        padding: 10px 16px 10px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .wether_info__hourly_detail_day-condition {
        display: flex;
        gap: 8px;
        align-items: center;
      }
      .wether_info__hourly_detail_day-condition-icon {
        width: 40px;
        font-size: var(--font-size-search-btn-daily-title-hour);
      }
      .wether_info__hourly_detail_day-condition_temp {
        font-size: var(--font-size-hourly-temp);
      }
    }
  }
}
